/* SCSS RGB */
$dark-salmon: rgba(239, 148, 108, 1);
$light-french-beige: rgba(196, 167, 125, 1);
$xanadu: rgba(112, 135, 127, 1);
$purple-navy: rgba(69, 67, 114, 1);
$st-patricks-blue: rgba(47, 41, 99, 1);
