body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $purple-navy;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header h1 {
  color: $dark-salmon;
  margin: 0;
}

#search-wrapper button {
  background-color: $st-patricks-blue;
  color: $light-french-beige;
  border-color: $light-french-beige;
  &:hover:not(:disabled) {
    background-color: $light-french-beige;
    color: $st-patricks-blue;
    border-color: $light-french-beige;
  }
  &:disabled {
    color: $light-french-beige;
  }
}
