header.container
    .row.mb-3
        .col
            h1.text-center 
                a(href="/") Mini Twitch
    .row
        .col
            .text-center.text-white
                p.mb-1 If you have a Twitch account, you can see your Following list.
                p.mb-1 You can also see other people's Following list.
                p.mb-1 Prefer to see an example? Here is Twitch user: 
                    a(href="/?search=kitboga") kitboga