doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if webpack_asset('main').css
            link(rel="stylesheet", href=webpack_asset('main').css)
        block title
    body
        include header
        block content
        script(src=webpack_asset('main').js)